@use "./format" as *;

.admindash {
  background: linear-gradient(180deg, rgba(63, 157, 208, 0.2), rgba(255, 255, 255, 0.8));
  background-size: contain;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  // &::before {
  //   content: "";
  //   width: 20vw;
  //   height: 100%;
  //   background: rgba(63, 157, 208, 0.5);
  //   position: absolute;
  //   right: 0;
  //   z-index: -1;
  // }
  &::after {
    content: "";
    width: 25vw;
    aspect-ratio: 1;
    background-image: url("../src/assets/admindashBankDesign.png");
    background-size: 115%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
  }
}

.panel-cashin {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 10px;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

.admin-cashin-account {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  width: 70%;
  height: 50vh; /* This will make the container take up the full viewport height */
  padding: 1.5rem 1rem;
  gap: 0.5rem;
  color: $darkBlue;

  // margin-left: 15vw;

  span {
    width: 80%;
    color: $lightBlue;
    font-size: small;
    text-align: justify;
    padding: 1rem 0.5rem 0;
  }
  label {
    text-align: left;
  }
  button {
    margin-top: 1.2rem;
    width: 80%;
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: $lightGreen;
    outline: none;
    background: $lightGreen;
    color: $darkBlue;
    text-transform: capitalize;
    cursor: pointer;
  }

  h5 {
    color: $darkBlue;
    font-size: small;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem 1rem 0;
    cursor: pointer;

    &:hover {
      color: $lightBlue;
      transform: scale(1.1);
    }
  }

  .cashin-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 80%;
    font-size: small;
    color: gray;

    input {
      height: 1.75rem;
      border: none;
      outline: none;
      border-bottom: 2px solid $darkBlue;
      padding-left: 0.2rem;
    }
  }
}

.admindash-content {
  // border: 1px solid pink;
  height: 90vh;
  width: 100%;
  @extend %flex;
  flex-direction: column;
}

.panel-admindash {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.2rem;
}

.content1 {
  grid-area: 1 / 1 / 3 / 3;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: 0.5px solid rgba(65, 157, 208, 0.5);
  box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(65, 157, 208, 0.5);

  @extend %flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
  }

  button {
    margin-top: 1.2rem;
    width: 80%;
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: $lightGreen;
    outline: none;
    background: $lightGreen;
    color: $darkBlue;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      background: $lightBlue;
      box-shadow: 0.3rem 0.3rem 1rem 0 $lightBlue;
      color: $mainGray;
    }
  }

  .cashin-form {
    width: 100%;
    height: auto;
    max-height: 100%;
    padding: 1.5rem 1rem;
    @extend %flex;
    flex-direction: column;
    gap: 0.5rem;
    color: $darkBlue;
    span {
      width: 80%;
      color: $lightBlue;
      font-size: small;
      text-align: justify;
      padding: 1rem 0.5rem 0;
    }
    h5 {
      color: $darkBlue;
      font-size: small;
      text-transform: uppercase;
      font-weight: 600;
      padding: 1rem 1rem 0;
      cursor: pointer;

      &:hover {
        color: $lightBlue;
        transform: scale(1.1);
      }
    }
    .form-labels{
      text-align: left;
    }
    .cashin-input-container {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      width: 80%;
      font-size: small;
      color: gray;

      input {
        height: 1.75rem;
        border: none;
        outline: none;
        border-bottom: 2px solid $darkBlue;
        padding-left: 0.2rem;
      }
    }
  }
}

.content2 {
  grid-area: 1 / 3 / 2 / 6;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: 0.5px solid rgba(65, 157, 208, 0.5);
  box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(65, 157, 208, 0.5);
  overflow-x: auto;
  @extend %flex;
  // flex-direction: column;
  gap: 0.5rem;
}

.content3 {
  grid-area: 2 / 3 / 3 / 6;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: 0.5px solid rgba(65, 157, 208, 0.5);
  box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(65, 157, 208, 0.5);

  @extend %flex;
  gap: 0.5rem;
  padding: 0.5rem;

  img {
    width: 40%;
    height: auto;
  }

  .text-box {
    @extend %flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    h2 {
      text-transform: uppercase;
      color: $darkBlue;
      letter-spacing: 0.12rem;
    }

    button {
      width: 100%;
      height: auto;
      padding: 0.5rem 1rem;
      border-radius: 0.8rem;
      border: $lightGreen;
      outline: none;
      background: $lightGreen;
      color: $darkBlue;
      cursor: pointer;

      &:hover {
        background: $lightBlue;
        box-shadow: 0.3rem 0.3rem 1rem 0 $lightBlue;
        color: $mainGray;
      }
    }
  }
}

.client-list {
  grid-area: 1 / 1 / 1 / 6;
  // min-height: 30vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: 0.5px solid rgba(65, 157, 208, 0.5);
  box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(65, 157, 208, 0.5);
  overflow-y: auto;
  @extend %flex;
  // flex-direction: column;
  gap: 0.5rem;
}

.client-barchart {
  grid-area: 2/1/2/6;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: 0.5px solid rgba(65, 157, 208, 0.5);
  box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(65, 157, 208, 0.5);
  overflow-y: auto;
  @extend %flex;
  // flex-direction: column;
  gap: 0.5rem;
  // height: 70vh;
  canvas {
    // width: 100%;
    height: fit-content;
  }
  // width: 100%;
  // flex-grow: 1;
  // max-height: max-content;
}

.admin-create-account {
  grid-area: 1 / 1 / 3 / 6;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: 0.5px solid rgba(65, 157, 208, 0.5);
  box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(65, 157, 208, 0.5);
  overflow-y: auto;
  @extend %flex;
  // flex-direction: column;
  gap: 0.5rem;
  color: $darkBlue;
}

.admin-transfer-money {
  grid-area: 1 / 1 / 3 / 6;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: 0.5px solid rgba(65, 157, 208, 0.5);
  box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(65, 157, 208, 0.5);
  overflow-y: auto;
  @extend %flex;
  // flex-direction: column;
  gap: 0.5rem;
  color: $darkBlue;
}

.client-list-createdaccount {
  grid-area: 1 / 3 / 2 / 6;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: 0.5px solid rgba(65, 157, 208, 0.5);
  box-shadow: 0.3rem 0.3rem 0.8rem 0 rgba(65, 157, 208, 0.5);
  overflow-x: auto;
  @extend %flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;

  h1 {
    font-size: $h2;
    color: $darkBlue;
    text-shadow: $txtShadLBlue;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}
