.cash-in {
  @extend %clientDashboard;
}

.panel2-cashin {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 2.5rem;
}


.transactions-cashin {
  width: 420px;
  height: 250px; 
  @extend %claymorph;
  @extend %flex;
  color: $darkBlue;
}

