@use "./format" as *;

.client-barchart {
    grid-area: 2/1/2/6;
    // flex-grow: 1;
    // height: fit-content;
}

.client-list-table {
    overflow-x: auto;
    h1 {
        text-align: center;
        padding: 1rem;
    }
    thead tr th {
        font-weight: 600;
        color: $mainGray;
        background-color: $darkBlue;
        padding: 0.5rem 3rem;
    }
    tbody tr {
        text-align: center;
    }

    tbody tr:nth-child(odd) {
        background-color: $mainGray;
    }
    tbody tr:nth-child(even) {
        background-color: white;
    }
}
