.client-overview {
  @extend %clientDashboard;  
}

.panel2-overview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2.5rem;
}

.expenses-widget {
  width: 420px;
  height: 250px; 
  @extend %claymorph;
  @extend %flex;
  color: $darkBlue;
}

.transactions-widget {
  width: min(520px, 60%);
  height: 250px; 
  @extend %claymorph;
  @extend %flex;
  color: $darkBlue;
}