@use "./format" as *;

.client-overview {
  @extend %clientDashboard;
}

.panel2-overview {
  min-width: 100%;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2.5rem;
}

.transactions-widget {
  min-width: 60%;
  max-height: 50vh;
  @extend %claymorph;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
  color: $darkBlue;
  flex-direction: column;
  padding: 1.5rem;

  h3{
    font-size: 1rem;
    padding-bottom: 0.5rem;

  }
  hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid $darkBlue;
    padding-bottom: 0.5rem;
  }
}

.transaction-list{
  min-width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}