@use "./format" as *;

.exchange-rate-container {
    @extend %flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 3.5rem;
    @extend %claymorph;
    position: relative;

    .forex-img {
        z-index: -1;
        position: absolute;
        width: 80%;
        opacity: 0.3;
        padding: 1rem;
    }
    
    p {
        letter-spacing: 0.2rem;
        text-align: center;
        font-size: $h5;
        color: $darkBlue;
        letter-spacing: 0.3rem;
    }

    .exchange-rate-title {
        letter-spacing: 0.2rem;
        text-align: center;
        font-size: $h2;
        color: $darkBlue;
        font-weight: 600;
        letter-spacing: 0.3rem;
    }   
    .exchange-rate-value {
        text-align: center;
        font-size: 3rem;
        color: $darkBlue;
        text-shadow: $txtShadLBlue;
        padding: 2rem 0;
    }
    .exchange-rate-update {
        width: 100%;
        text-align: right;
        font-weight: 300;
        font-size: $h6;
        font-style: italic;
        color: $darkBlue;
    }
 
}
   .spinner{
       width: 15rem;
    }