@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Font
$fontFamMain: 'Poppins', sans-serif;

// Colors
$darkBlue: #2F3A54;  
$lightBlue: #3F9DD0;
$lightGreen: #D1FFBC;
$mainGray: #EFF1F4;
