@use './format' as *;

.btn{
    padding:8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor:pointer;
    font-weight: 600;
    
}

.btn--primary{
    background-color: var(--primary);
    color: #242424;
    border: 1 px solid var(--primary);   
}

.btn--outline{
    background-color: #D1FFBC;
    width: 100%;
    color: black;
    padding: 0.5rem 1rem;
    border: 1 px solid var(--primary);   
    margin-right: 1rem;
    transition: all 0.3s ease-out;
   
  
}

.burger-button{
    background-color: #D1FFBC;
    width: 100%;
    color: black;
    padding: 0.5rem 1rem;
    border: 1 px solid var(--primary);   
    margin-right: 1rem;
    transition: all 0.3s ease-out;
   height: 5rem;
   
}


.btn-text-large {
    font-size: 1.2rem;
  }

.btn--medium{
    padding: 8px 20px;
    margin-top: 2.5vh;
    font-size: clamp(.5rem, 1vw, 2rem); 
}

.btn--large{
    padding: 8px 20px;
    font-size: 20px
}

.btn--medium:hover, .btn--large:hover{
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}



.home-navbar {
    position: fixed;
    top: 0;
    background-color: #313953;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    white-space: nowrap;
    z-index: 1;
  }

.home-navbar img{
    margin-left:2vw;
    margin-right: 20vw;/*clamp(10vw, 15vw, 20vw);*/
    width: clamp(10%, 50%, 75%);
}
/*width: */
.home-navbar-container{
    display: flex;
    justify-content: space-between;;
    align-items: center;
  
}


.home-nav-menu{
    display: grid;
    grid-template-columns: repeat(9,auto);
    grid-gap: 1vw;
    list-style:none;
    text-align: center;
    width: 60vw;
    justify-content: end;
   
}

.home-nav-item{
    height: 5rem;
}

.home-nav-links{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem .5rem;
    height: 100%;
}

.home-nav-links:hover{
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: #fff;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

.otherButton{
    display: none;
}

.burgerMobileButton{
    display: none;
}