@use "./format" as *;

.container {
  display: grid;
  line-height: 1.4;
  padding: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "one two three three"
    "one two three three"
    "five two six four"
    "five two six four";
  grid-gap: 1rem;
  color: #004d40;
  height: 80%;
}

#one {
  background: #f8eecd;
  grid-area: one;
  padding: 2rem;
  border-radius: var(--main-radius);
  transition: transform 0.25s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#one span {
  font-size: clamp(2.5rem, 2.5vh, 5rem);
  font-weight: 800;
  font-style: normal;
  display: flex;
  color: #2f3a54;
  pointer-events: none;
}

#one img {
  padding: 1rem;
}

#two {
  background: #cde3de;
  grid-area: two;
  border-radius: var(--main-radius);
  transition: transform 0.25s;
}

#one:hover,
#two:hover,
#three:hover,
#four:hover,
#five:hover,
#six:hover {
  transform: scale(0.95);
}

#two img {
  width: 100%;
  max-height: 80%;
}

#two p {
  display: flex;
  padding: 0.5rem 2rem;
  color: #2f3a54;
  text-align: left;
  pointer-events: none;
  font-size: $h5;
}

#three {
  background: #daccef;
  grid-area: three;
  border-radius: var(--main-radius);
  text-align: left;
  line-height: clamp(2.5rem, 5vh, 3rem);
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #2f3a54;
  display: flex;
  align-items: center;
  transition: transform 0.25s;
  padding: 2rem;
}
#three p {
  font-size: 2.3rem;
  pointer-events: none;
}

#three button {
  background: $lightGreen;
  border-radius: 16px;
  width: 20vw;
  padding: 10px 30px;
  font-weight: bold;
  border: 0;
  cursor: pointer;

  &:hover{
    color: $mainGray;
    background: $lightBlue;
    box-shadow: 0.3rem 0.3rem 1rem 0 $lightBlue;
  }
}
#four {
  background: #f3dbc6;
  grid-area: four;
  padding: 2rem;
  border-radius: var(--main-radius);
  color: #2f3a54;
  transition: transform 0.25s;
  @extend %flex;
  flex-direction: column;
}

#four h1 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: left;
  pointer-events: none;
}

#four p {
  text-align: left;
  pointer-events: none;
  font-size: $h5;
}

#five {
  background: #caddf0;
  grid-area: five;
  border-radius: var(--main-radius);
  transition: transform 0.25s;
}

#five img {
  position: relative;
  width: 80%;
  height: 100%;
  max-height: 100%;
}

#six {
  background: #edc7de;
  grid-area: six;
  border-radius: var(--main-radius);
  transition: transform 0.25s;
}

#six img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

// #tree {
//   display: none;
//   background: none;
//   grid-area: tree;
//   border-radius: var(--main-radius);
//   padding-top: var(--main-padding);
// }
