@use "./format" as *;

.login-page {
  width: 100vw;
  height: 100vh;
  @extend %flex;
  flex-direction: column;
}

.login-page-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  background-color: $darkBlue;
  @extend %flex;
  img {
    height: 5vh;
  }
}

.login-page-container {
  width: 70%;
  padding: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: $darkBlue;
  border-radius: 2rem;
  gap: 2rem;
  // margin-top: 15vh;
}

.side-form-content {
  width: 100%;
  // height: 50vh;
  padding: 1rem;
  flex-direction: column;
  @extend %flex;
  background-color: white;
  border-radius: 1rem;
  line-height: 1.3;
  .side-form-title {
    padding: 1rem;
    text-align: center;
    color: $darkBlue;
    font-weight: 800;
  }
  .side-form-text {
    padding: 0.5rem;
    text-align: center;
    color: $darkBlue;
  }
}

.login-form {
  width: 100%;
  // height: 50vh;
  padding: 1rem;
  flex-direction: column;

  @extend %flex;
  background-color: white;
  border-radius: 1rem;
  line-height: 1.3;
  .login-form-title {
    padding: 1rem;
    text-align: center;
    color: $darkBlue;
    font-weight: 800;
  }
  .login-form-label {
    width: 90%;
    margin: 1rem 0 0 0;
    color: $darkBlue;
  }
  .login-form-input {
    width: 90%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $mainGray;
    border: 0;
  }
  .login-form-btn {
    width: 60%;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $lightGreen;
    font-weight: bolder;
    font-size: 1.25rem;
    cursor: pointer;
  }
  .login-form-alert {
    color: red;
    padding: 1rem;
    text-align: center;
  }
}

.login-monitor {
  position: relative;
  bottom: 2%;
  left: 0;
  width: 20%;
  // z-index: -1;
}
.login-bank {
  position: relative;
  bottom: 2%;
  right: 0;
  width: 30%;
}

.redirect-link{
  // padding: 0.5rem;
  // margin: 0.5rem;
  font-size: 0.75rem;
  color: $darkBlue;
}