@use "./format" as *;

//sign-up-page
@media screen and (max-width: 768px) {
  .sign-up-logo {
    position: fixed;
    top: 0;
    left: 0;
  }
  .sign-up-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
  }
  .sign-up-container {
    min-width: 100%;
    min-height: 100%;
    
    // padding-top: 8rem;
    // padding-bottom: 8rem;
  }

  .signup-form-container {
    min-width: 80%;
    // min-height: 120vh;
    display: flex;
    flex-direction: column;
  }

  .sign-up-form {
    min-width: 90%;
    // min-height: 50vh;
    display: flex;
    justify-content: center;
  }

  .signup-input-container {
    min-width: 80%;
    min-height: 5vh;
    font-size: 1rem;

    input {
      min-width: 100%;
      min-height: 0.5vh;
    }
  }

  .sign-up-text {
    display: none;
    min-width: 90%;
    min-height: 50vh;
  }

  .sign-up-img {
    width: clamp(1rem, 30vw, 30rem);
    position: absolute;
    bottom: -15rem;
  }


  //cashin
  .cash-in {
    display: block;
  }
  .panel1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .balance-overview {
    width: 370px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .account-details {
        font-size: 0.5rem;
    h1{
        font-size: 1rem;
    }
    }
  }
  .bank-card{
    width: 370px;
    height: 220px;
    font-size: 0.5rem;
  }


  //transfer
  .transfer{
    display: block;
    height: fit-content;
  }
  .transfer-page {
   display: flex;
   flex-direction: column;
  }
  .transfer-form-container{
    width: 60%;
  }
  .panel2-transfer{
    padding: 0;
   min-height: 40vh;
  }
}

//login-page
@media screen and (max-width: 768px) {
  .login-page-container {
    flex-direction: column;
    width: 80%;
  }
  .side-form-content {
    display: none;
    width: 100%;
  }
  .login-form {
    width: 100%;
  }
}

//cashin


//dashboard
@media screen and (max-width: 1024px) {
  .navbar{
    position: fixed;
    z-index: 1;
  }
  .client-overview {
    display: block;
  }
  .panel1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .balance-overview {
    width: 370px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .account-details {
        font-size: 0.5rem;
    h1{
        font-size: 1rem;
    }
    }
  }
  .bank-card{
    width: 370px;
    height: 220px;
    font-size: 0.5rem;
  }

  .panel2-overview{
    display: flex;
    flex-direction: row;
    align-items: center;
    .expenses-widget, .transactions-widget{
        width: 370px;
        height: 500px;
    }

  }
}



//home

@media screen and (max-width: 768px) {
  #one{
      display: flex;
      align-items: center;
     }
      #one span{
          white-space: nowrap;
          font-size: clamp(1.5rem, 2rem, 2.5em);
          margin-right: 0vw;   
          font-size: clamp(1rem, 2.5rem, 3rem);
   
      }
  
      #one img{
          margin-top: 0vw;
          width:10vw;
          padding: 1.5rem 0px;
   
      }
  #six{
      display: none;
  }

  #five{
      display: none;
  }

  .container {
      margin-top: 1vw;
      grid-gap: .5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "one"
      "three"
      "four"
      "two" ;
  }
}
/* Add media queries if needed */
@media screen and (min-width: 769px) and (max-width: 979px) {
  #one{
      display: flex;
      align-items: center;
     }
      #one span{
          white-space: nowrap;
          font-size: clamp(1.5rem, 2rem, 2.5em);
          margin-right: 0vw;   
          font-size: clamp(1rem, 2.5rem, 3rem);
   
      }
  
      #one img{
          margin-top: 0vw;
          width:10vw;
          padding: 1.5rem 0px;
   
      }
      #two{
        background: none;
      }
  #six{
      display: none;
  }

  #five{
      display: none;
  }

  .container {
      margin-top: 10vw;
      grid-gap: .5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "one"
      "three"
      "four"
      "two" ;
  }
}

@media screen and (min-width: 980px) and (max-width: 1300px){
 #one{
  display: flex;
  align-items: center;
 }
  #one span{
      white-space: nowrap;
      font-size: clamp(1.5rem, 2rem, 2.5em);
      margin-right: 0vw;   
      font-size: clamp(1rem, 2.5rem, 3rem);

  }

  #one img{
      margin-top: 0vw;
      width:10vw;
      padding: 1.5rem 0px;

  }

#two img{
  width:75%;
 border-radius: 1rem;
}
#two p{
  width:75%;
  margin-left: 5vw;

}

#two{
  background: none;
}
  #five img{
      margin-top: 0vh;
      height: 42vh;
      margin-left: -2vw;
  }

  #six{
    height: 70%;
    width: 77%;
    margin-top: 5vh;
    margin-left: 5vw;
  }
 
  .container {
  gap: .5rem;
margin-top: 12vh;
grid-template-columns: 1fr 1fr 1fr 1fr; /* Define two columns */
grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
grid-template-areas:
"one two two two" 
"three two two two"
"four two two two"
"five six six six"
;

    }

  
}

@media screen and (max-width: 1301px){

    #two span{
   
  font-size: 1.2rem;
  }
 

  #four h1{
      font-size: 1rem;
      margin-bottom: 1vw;
  }
  #four p{
      font-size: 1rem;
  }

 
}

//homeNavbar

@media screen and (max-width: 1100px){
  .buttons1{
   display: none;
  }
   .home-nav-menu{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       width:100%;
       position:absolute;
       top: 85px;
       background: #1f293b;
       left: 0;
       opacity: 1;
       z-index: 1;
   }

   .home-nav-links{
   font-size: 20px;
   margin-left: 20px;
   color:rgb(195, 196, 206);
   }

   .otherButton{
       display: grid;
       grid-template-columns: repeat(2,auto);
       grid-gap: 1vw;
     
   }

  }
  .container{
    margin-top: 20vh;
  }


@media screen and (max-width: 768px){
 
  #two{
    background: none;
  }

  #four p{
    font-size: 1rem;
  }
  .container{
  margin-top: 12vh;
  }

  
   .otherButton{
       display: none;
   }
   .buttons1{
    display: block;


   }

   .NavbarItems{
       position: relative;
   }

   .home-nav-menu{
       display: flex;
       flex-direction: column;
       width:100%;
       position:absolute;
       top: 80px;
       left: -100%;
       
   }


   .home-nav-menu.active{
       background: #1f293b;
       left: 0;
       z-index: 1;
   }

   .home-nav-links{
       text-align: center;
       padding: 2rem;
       width: 100%;
       display: table;
   }

   .home-nav-links:hover{
       background-color: #fff;
       color: #242424;
       border-radius: 0;
   }

   .home-navbar-logo{
       position: absolute;
       top: 0;
       left: 0;
       transform: translate(25%, 50%);
   }


   .menu-icon{
       display: block;
       position: absolute;
       top: 0;
       right: 0;
       transform: translate(-100%, 60%);
       font-size: 1.8rem;
       cursor: pointer;
   }

   .fa-times{
       color: #fff;
       font-size: 2rem;
   }

   .nav-links-mobile{
       display: block;
       text-align: center;
       margin: 2rem auto;
       border-radius: 4px;
       width: 80%;
       text-decoration: none;
       font-size: 1.5rem;
       background-color: transparent;
       color: #fff;
       padding: 14px 20px;
       border: 1px solid #fff;
       transition: all 0.3s ease-out;
   }

   .nav-links-mobile:hover{
       background:#fff;
       color: #242424;
       transition: 250ms;
   }
}

