@import "./sass/reset";
@import "./sass/format",
"./sass/navbar";
@import "./sass/signup";
 

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
 
.App {
  display: flex;
  position: relative;
}

