@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.App {
  display: flex;
  position: relative;
}

.navbar {
  width: 250px;
  height: 100vh;
  background-color: #2F3A54;
  color: white;
  text-wrap: nowrap;
  padding-top: 1.5rem;
  transition: width 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-closed {
  width: 60px;
  text-wrap: nowrap;
  transition: width 0.3s ease-in-out;
}

.side-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
.side-item:hover {
  opacity: 0.5;
}

.navbar-icons {
  font-size: 1.2rem;
}

.link-text-closed {
  visibility: hidden;
}

.menu-btn {
  color: #EFF1F4;
  opacity: 0.5;
  background-color: transparent;
  padding-left: 1.2rem;
  cursor: pointer;
  border: none;
}
.menu-btn:hover {
  opacity: 1;
}

.img-wrapper {
  width: min(75%, 8rem);
  aspect-ratio: 1;
  margin: 1rem auto 0.5rem;
}

.navbar-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  font-size: 0.5rem;
}