@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://db.onlinewebfonts.com/c/fd6fa80f1e3345834599de891cca3f4c?family=OCR+A+Extended");
.transfer-history, .transactions-cashin, .transactions-widget, .expenses-widget {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer-history, .transactions-cashin, .transactions-widget, .expenses-widget, .balance-overview {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  backdrop-filter: blur(6px);
  box-shadow: 35px 35px 68px 0px rgba(65, 157, 208, 0.5), inset -2px -2px 16px 0px rgba(65, 157, 208, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
  color: #EFF1F4;
  text-shadow: 1.2px 1.2px 3px #3F9DD0;
}

.transfer, .cash-in, .client-overview {
  background: linear-gradient(180deg, rgba(63, 157, 208, 0.5), rgba(255, 255, 255, 0.8)), url("./src/assets/backgroundDash.png");
  background-size: contain;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  position: relative;
}

.navbar {
  width: 250px;
  height: 100vh;
  background-color: #2F3A54;
  color: #EFF1F4;
  text-wrap: nowrap;
  padding-top: 1.5rem;
  transition: width 0.3s ease-in-out;
}
.navbar a {
  color: #EFF1F4;
}

.navbar-closed {
  width: 60px;
  text-wrap: nowrap;
  transition: width 0.3s ease-in-out;
}

.side-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
.side-item:hover {
  opacity: 0.5;
}

.navbar-icons {
  font-size: 1.2rem;
}

.link-text-closed {
  display: none;
}

.menu-btn {
  color: #EFF1F4;
  opacity: 0.5;
  background-color: transparent;
  padding-left: 1.2rem;
  cursor: pointer;
  border: none;
}
.menu-btn:hover {
  opacity: 1;
}

.img-wrapper {
  width: min(75%, 8rem);
  aspect-ratio: 1;
  margin: 1rem auto 0.5rem;
}

.navbar-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  font-size: 0.5rem;
}

.client-dashboard {
  width: 100%;
  height: auto;
}

.panel1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 2.5rem;
}

.bank-card {
  width: 420px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  backdrop-filter: blur(6px);
  box-shadow: 35px 35px 68px 0px rgba(65, 157, 208, 0.5), inset -2px -2px 16px 0px rgba(65, 157, 208, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
  color: #EFF1F4;
  text-shadow: 1.2px 1.2px 3px #3F9DD0;
}

.bank-name {
  font-size: 1.2rem;
  position: absolute;
  top: 30px;
  right: 40px;
}

.card-details {
  position: absolute;
  bottom: 30px;
  left: 50px;
  display: grid;
  gap: 0.3rem;
}
.card-details span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
}

.card-name {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.card-number, .exp-date {
  font-family: "OCR A Extended";
  font-weight: 700;
}

.card-icons {
  display: flex;
  gap: 1rem;
}

.card_chip, .card_indicator {
  width: 40px;
}

.mastercard_logo {
  width: 80px;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.greeting-dash {
  width: 100%;
  padding: 0.5rem 2rem;
  color: #2F3A54;
  text-shadow: 1.2px 1.2px 3px #3F9DD0;
  letter-spacing: 0.25rem;
  font-size: clamp(0.5rem, 0.4188rem + 1.0833vw, 1.8rem);
}

.balance-overview {
  width: min(520px, 60%);
  height: auto;
  color: #2F3A54;
}

.account-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 2rem 3rem;
  letter-spacing: 0.3rem;
}
.account-details h1 {
  font-weight: 300;
  text-shadow: none;
}

.account-balance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3rem;
  padding: 2rem 3rem 1rem;
  letter-spacing: 0.3rem;
}
.account-balance span {
  font-size: 0.75rem;
  text-shadow: none;
}

.panel2-overview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2.5rem;
}

.expenses-widget {
  width: 420px;
  height: 250px;
  color: #2F3A54;
}

.transactions-widget {
  width: min(520px, 60%);
  height: 250px;
  color: #2F3A54;
}

.panel2-cashin {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 2.5rem;
}

.transactions-cashin {
  width: 420px;
  height: 250px;
  color: #2F3A54;
}

.settings {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel2-transfer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2.5rem;
}

.transfer-history {
  width: 420px;
  height: 250px;
  color: #2F3A54;
}